<!-- <h1 style="margin-top: 10%;">Witaj {{GetUserNickName()}}</h1> -->

<div class="home-main-container" style="padding-top: 3%;">
    <div class="home-container-flex">
        <div class="home-side-column"></div>
        <div class="home-main-column"></div>
        <div class="home-side-column">
            <div class="profile-statistics-container">
                <div class="player-statistics-container">
                    <dl>
                        <dt>Player Statistics</dt>
                            <dd class="row">Kills  : 0</dd>
                            <dd class="row">Deaths : 0</dd>
                            <dd class="row">K/D : 0.0</dd>
                            <dd class="row">Asists : 0</dd>
                            <dd class="row">GamesPlayed : 0</dd>
                            <dd class="row">GamesWon : 0</dd>
                            <dd class="row">GamesLoss : 0</dd>
                            <dd class="row">Favorite Weapon : G36E</dd>
                            <dd class="row">Gold : 1092</dd>
                            <dd class="row">Premium Gold : 0</dd>
                        <dt>Clan Statistics</dt>
                            <dd class="row">Name  : ClanName</dd>
                            <dd class="row">Role : Member</dd>
                            <dd class="row">Level : 3</dd>
                            <dd class="row">Last clan war : Today</dd>
                            <dd class="row">Members : 17/20</dd>
                            <dd class="row">Your clan K/D: 1.88</dd>
                            <dd class="row">Clan W/L: 1.90</dd>

                    
                        </dl>
                </div>
            </div>
        </div>
    </div>
</div>