<div class="container-fluid" *ngIf="!isSuccess" style="margin-top: 10%;">
    <div class="row">
    <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <form [formGroup] = "fpForm"(ngSubmit) = "remind()">
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="text" class="form-control" formControlName = "email">
               <div *ngIf="Email.touched && Email.errors?.required" class="alert alert-danger">
                This field is required
               </div>
            </div>
            <button type="submit" class="btn btn-primary">Remind</button>
        </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>

